# Ignore distribution and build directories
dist/
build/

# Python cache files
__pycache__/
*.pyc

# Ignore Windborne package metadata
windborne.egg-info/

spec/credentials.json
spec_outputs/*
spec/spec.iml

windborne/windborne.iml
windborne-api.code-workspace
